<!doctype html>
<head>
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<html>
   <body>
    <div class="sidebar">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('transactions') }}">Transaction History</a></li>
      </ul>
      <div class="ad-container">
        <video autoplay muted>
          <source src="{{ url_for('static', filename='ads/' + selected_ad) }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="add-transaction-form">
        <h1>Edit Transaction</h1>
        <form method="POST">
            <div class="form-row">
                <label for="amount">Amount:</label>
                <input type="number" step="0.01" id="amount" name="amount" value="{{ amount }}" required>
            </div>
            <div class="form-row">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" value="{{ description }}" required>
            </div>
            <div class="form-row">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" value="{{ date }}" required>
            </div>
            <div class="form-row">
                <label for="category_id">Category:</label>
                <select id="category_id" name="category_id" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == category_id %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <button type="submit">Update Transaction</button>
            </div>
        </form>
        <a href="/transactions" style="text-decoration: none;">
            <button class="delete-button" style="background-color: red;">Back to Transactions</button></a>
    </div>      
   </body>
</html>