<!doctype html>
<head>
    <title>Transaction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<html>
   <body>
    <div class="sidebar">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('transactions') }}">Transaction History</a></li>
      </ul>
      <div class="ad-container">
        <video autoplay muted>
          <source src="{{ url_for('static', filename='ads/' + selected_ad) }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="container">

      {% if transactions %}
      <h2>Last 25 Transactions</h2>
      <table>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
            <tr>
              <td>{{ transaction.amount }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.category_name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No transactions found.</p>
      {% endif %}
    </div>      
   </body>
</html>